<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test Site NODEJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      <h1>Welcome to the Home view</h1>
      <p>This site is static</p>
      <form action="/" method="POST">
        <label for="firstName">First Name: </label><input type="text" name="firstName" placeholder="Enter Your Name">
        <label for="lastName">Last Name: </label><input type="text" name="lastName" placeholder="Last Name">
        <input type="submit" value="Submit" >
      </form>
    </main>
    <footer>
    </footer>
  </body>
</html>
